
<div class="h-w-550px bg_loi_ich text-white">
  <h1 class="title1">Những lợi ích chúng tôi mang đến cho bạn</h1>
  <div class="d-flex justify-content-around mt-30px">
    <div class="block1"><div class="bg1 mx-auto"></div></div>
    <div class="block1"><div class="bg2 mx-auto mt-4"></div></div>
    <div class="block1"><div class="bg3 mx-auto mt-4"></div></div>
  </div>

  <div class="d-flex justify-content-around mt-30px">
    <div class="card text-center bg4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nhận thông tin hàng tuần</h5>
        <p class="card-text">Đăng ký để nhận thông tin đánh giá mới nhất hàng tuần về điện thoại mà bạn quan tâm</p>
      </div>
    </div>

    <div class="card text-center bg4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Chia sẻ</h5>
        <p class="card-text">Chia sẻ với cộng đồng những thông tin hữu ích, tính năng hay, đánh giá khách quan mà bạn biết về điện thoại</p>
      </div>
    </div>

    <div class="card text-center bg4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">So sánh</h5>
        <p class="card-text">So sánh với những sản phẩm tương tự để lựa chọn ra điện thoại ưng ý nhất</p>
      </div>
    </div>

  </div>
</div>
