<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../static/image/logo.PNG" width="40" height="40" alt="">
  </a>
  <a class="navbar-brand font-lobster" href="#">TKDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-5 d-flex flex-row-reverse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-light" href="#">Đăng nhập</a>
      <a class="nav-item nav-link text-light" href="#">Blog</a>
      <a class="nav-item nav-link text-light" href="#">Về chúng tôi</a>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <img src="../../static/image/logo.PNG" width="40" height="40" alt="">
    </a>
    <a class="navbar-brand font-lobster" href="#">TKDB</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- <a class="nav-link ml-5" href="#">Danh mục sản phẩm <span class="sr-only">(current)</span></a> -->
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Danh mục sản phẩm
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Iphone</button>
            <button class="dropdown-item" type="button">Samsung</button>
            <button class="dropdown-item" type="button">Khác</button>
          </div>
        </div> -->
         <div class="container">
        	 <div class="row">
                <hr>
                <div class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                        Danh mục sản phẩm<span class="caret"></span>
                    </a>
            		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                      <li class="divider"></li>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Iphone</a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Iphone X</a></li>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="iphonex"></a></li>
                            </ul>
                            <!-- <li class="dropdown-submenu">
                              <a href="#">Even More..</a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">3rd level</a></li>
                              	<li><a href="#">3rd level</a></li>
                              </ul>
                            </li> -->
                          <li><a href="#">Iphone 8</a></li>
                          <li><a href="#">Iphone 7s</a></li>
                        </ul>
                      </li>

                      <li class="divider"></li>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Samsung</a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Samsung Galaxy S8</a></li>
                          <li><a href="#">Samsung Galaxy C9 Pro</a></li>
                          <li><a href="#">Samsung Galaxy S9+</a></li>
                          <li><a href="#">Samsung Galaxy Note 8</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
        	</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-3" href="#">So sánh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-3" href="#">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div class="collapse navbar-collapse mr-5 d-flex flex-row-reverse align-middle" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a class="nav-item nav-link ml-3" href="#">
        <i class="fab fa-twitter-square fa-2x"></i>
      </a>
      <a class="nav-item nav-link ml-3" href="#">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</nav>
