<div class="h-w-550px text-color">
  <h1 class="title1">Điện thoại tiêu biểu</h1>
  <div class="d-flex justify-content-around mt-30px">

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src= {{ phone_list[0].product_main_image }} >
      <div class="card-body">
        <h5 class="card-title text-center"> {{ phone_list[0].product_name }} </h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src= {{ phone_list[1].product_main_image }} >
      <div class="card-body">
        <h5 class="card-title text-center"> {{ phone_list[1].product_name }} </h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src= {{ phone_list[2].product_main_image }} >
      <div class="card-body">
        <h5 class="card-title text-center"> {{ phone_list[2].product_name }} </h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src= {{ phone_list[3].product_main_image }} >
      <div class="card-body">
        <h5 class="card-title text-center "> {{ phone_list[3].product_name }} </h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</div>
